Modul1_SentimentAnalysis/saves/model306_BiLSTM_9201/checkpoint_acc920120.pt
Modul1_SentimentAnalysis/saves/model306_BiLSTM_9201/final_model_confusion_matrix.png
Modul1_SentimentAnalysis/saves/model306_BiLSTM_9201/final_model_plots.png
Modul1_SentimentAnalysis/saves/model306_BiLSTM_9201/final_model916778.pt
Modul1_SentimentAnalysis/saves/model306_BiLSTM_9201/params.txt
Modul1_SentimentAnalysis/saves/model449_CNN_8963/checkpoint_acc896390.pt
Modul1_SentimentAnalysis/saves/model449_CNN_8963/final_model_confusion_matrix.png
Modul1_SentimentAnalysis/saves/model449_CNN_8963/final_model_plots.png
Modul1_SentimentAnalysis/saves/model449_CNN_8963/final_model895387.pt
Modul1_SentimentAnalysis/saves/model449_CNN_8963/params.txt
Modul1_SentimentAnalysis/saves/model_lstm_9017/checkpoint_acc901737.pt
Modul1_SentimentAnalysis/saves/model_lstm_9017/final_model_confusion_matrix.png
Modul1_SentimentAnalysis/saves/model_lstm_9017/final_model_plots.png
Modul1_SentimentAnalysis/saves/model_lstm_9017/final_model888703.pt
Modul1_SentimentAnalysis/saves/model_lstm_9017/params.txt
